@font-face {
    font-family: Text;
    src: url("./fonts/CenturyGothic.ttf");
}
@font-face {
    font-family: Special;
    src: url("./fonts/Satisfy-Regular.ttf");
}

@keyframes masuperanimation {
    0% {
        transform: rotateY(-180deg); /* Celui-ci est retourné par défaut */
    }

}
*{
    font-family: Text;
}


#header{
    
    background-color:#6ecf32;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, .2);
    display:flex;
    z-index: 60;
    width:100%;
    height:40px;
    position:fixed;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}

#ContainerHome {
    display:flex;
    align-items:center;   
    max-height:40px;
    margin-left:4px;
}

.btnlogo {
    border:hidden;
    height:40px;
 }

#locTitle {
 margin: 0 0 0 4px!important;
}

#locSubTitle {
 margin: 0 0 0 4px!important;
}
#containerRigthBtn {

    height:40px;
    width:40px;
    position:absolute;
    right:0px;
}
#containerRigthBtn div{
    height:40px;
    width:40px;
    position:fixed;
    right:4px;
    top:04px;
}

#containerBtnMapON {
    display:block;
}

#containerBtnMapClose {
    display:block;
}

#containerBtnLang {
    display:block;
}

#btnMapON {
 border:none;
 background:none;
}

#btnMapClose {
 border:none;
 background:none;
}

#btnlang {
    background-color:#6ecf32;
    color: #529b26;
    border:none;
    font-size: 1.5em;
    color:#529b26;
}

@media screen and (max-width: 350px) {
   
     #header .title{
     font-size:1.5em;
     
   }
     
    #ContainerTitle {
    padding-bottom:0px;margin-bottom:4px;
    }

}
@media screen and (max-width: 320px) {
   
     #header .title{
     font-size:1.5em;
     
   }
     
    #ContainerTitle {
    padding-bottom:0px;margin-bottom:4px;
    }

}

#header .title{

    font-weight:normal;
    letter-spacing: 3px;
    color: white;
    margin-left:10px;
}

#header .subtitle{

    font-weight:normal;
    letter-spacing: 3px;
    color: white;
    margin-left:10px;
    font-size: 1.2em;
    position: absolute;
    left: 28px;
    top: 50px;
}
.hlang{
    right:0px;
    position:absolute;
    margin-right: 0px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #529b26;
    font-size: 1.0em;
}
