@font-face {
    font-family: Text;
    src: url("./fonts/CenturyGothic.ttf");
}
@font-face {
    font-family: Special;
    src: url("./fonts/Satisfy-Regular.ttf");
}

@keyframes masuperanimation {
    0% {
        transform: rotateY(-180deg); /* Celui-ci est retourn� par d�faut */
    }

}
*{
    font-family: Text;
}
html, body {
    margin: 0;
    padding: 0;
    background-color:#f6f6f6;
    overflow:hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position:fixed;
}
#contentMain {
    position:absolute;
    overflow:hidden;
    width: 100%;
    height: 100%;
    display:flex;
}
#pano {
    position:absolute;
    left:0;
    top:0;
    display:block;
    width: 100%;
    height: 100%;
    z-index:50;
}

#contentVRiFrame {
    width: 100%;
    height: 100%;
    border:none;
}

#infoFrame {
    position:absolute;
    left:0;
    top:0px;
    display:none;
    width: 100%;
    height: 13%;
    z-index:51;
}
#contentInfoiFrameBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
#contentInfoiFrame {
    width: 100%;
    height: 100%;
    border:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: #fff;
    border-radius: 0px;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, .2);
    bottom: 0px;
    position: relative;
}
#topInfo {
    width: 100%;
    height: auto;
    z-index:50;
    position: absolute;
    top: -60px;
    background-color: white;/* 
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, .5); */
    color: #6ecf32;
    padding-left:14px;
    padding-top: 14px;
    padding-bottom: 20px;

}
#topPhoto {
    
    z-index:50;
    position: relative;
    background-color:transparent;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, .5);
    color: #6ecf32;
    display: block;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    opacity: 1;

}
#photoBox::after{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    height: auto;
    width: 100%;
    background-color: red;
}
#photoBox{
    position: absolute;
    display: block;
    position: absolute;
    top: 0px;
    height: 100vh;
    background-color: transparent;
    z-index: 50;
    opacity: 0;
}
@media all and (orientation:portrait) {
    #topPhoto {
        width: 100%;
        height: auto;
    }
}
    
@media all and (orientation:landscape) {
    #topPhoto {
        width: auto;
        height: 100%;
    }
    #contentMain {
        justify-content: center;
    }
}

#btnMapTopClose {
    border:none;
    background:none;
    position: absolute;
    right: 16px;
   }

   *{
    box-sizing: border-box;
   }
#downloadLinkContainer{
    width: 340px;
    height: 85px;
    display: none;
    background-color: #ffffff;
    color:#6ecf32;
    position: relative;
    z-index: 5000;
    text-align: left;
    border-radius: 10px;
    border: #6ecf32;
    border-style: solid;
    padding-top: 16px;
    font-size: large;
    padding-left: 20px;
    margin: auto;
}
#btnAPP{
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    right: 15px;
    top: -24px;
}
#closeAPP{
    width: 15px;
    height: 15px;
    float: right;
    position: relative;
    right: -47px;
    top: -36px;
}