 html {
        overflow: hidden;
        height: 100%;
      }

body {
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #ffffff;
        background-color: #ffffff;
    }

#editeur {
        z-index: 10000;
        position: absolute;
        width: 350px;
        left: 40px;
	    top:40px;
        height: 85%;
        background-color: rgba(0,0,0, 0.5);
        box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.7);
	    border:hidden;
        animation: anime;
        padding-left: 0px;
        margin: 0px;
	    cursor: move;
    }   
#HSList {
color: #000000;

}
#loadIcon {
color: #000000;
}